@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
}

input.cmn-toggle-round-flat + label {
  padding: 1px;
  width: 114px;
  height: 28px;
  border-radius: 3px;
  background-color: #DDDDDD;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 3px;
  background-color: #F8F4F4;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

input.cmn-toggle-round-flat + label:after {
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  width: 56px;
  background-color: #dddddd;
  -webkit-transition: margin 0.2s, background 0.2s;
  -moz-transition: margin 0.2s, background 0.2s;
  -o-transition: margin 0.2s, background 0.2s;
  transition: margin 0.2s, background 0.2s;
  content: "off";
  color: #333333;
  -webkit-align-content: center;
  align-content: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align-last: center;
  padding-top: 4px;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #ef616d;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 56px;
  background-color: #ef616d;
  content: "on";
  -webkit-align-content: center;
  align-content: center;
  color: #ffffff;
}

.vf-datepicker {
  width: 340px;
  height: 416px;
  color: #1d1d1d;
  position: relative;
  display: none;
  top: -25px;
  z-index: 5;
  padding: 30px 20px 30px !important;
  background-color: #ffffff;
}

.vf-datepicker .table > thead > tr > th, .vf-datepicker .table > tbody > tr > th, .vf-datepicker .table > tfoot > tr > th, .vf-datepicker .table > thead > tr > td, .vf-datepicker .table > tbody > tr > td, .vf-datepicker .table > tfoot > tr > td {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}

.vf-datepicker.active {
  display: block;
}

.vf-datepicker .vf-datepicker-inside {
  padding: 5px 5px;
  position: relative;
}

.vf-datepicker .pre-table {
  margin: auto;
  position: relative;
}

.vf-datepicker .pre-table table {
  margin: auto;
}

.vf-datepicker table.month td {
  text-align: center;
  padding: 2px;
}

.vf-datepicker table.month tr.head-month th {
  font-family: "BebasNeue", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 1.15px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0 10px;
}

.vf-datepicker table.month tr.head-days th {
  font-family: "BebasNeue", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.92px;
  color: #999999;
  text-align: center;
  padding: 15px 0 15px;
}

.vf-datepicker .vf-datepicker-table {
  padding: 5px 10px;
}

.vf-datepicker .week {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  align-content: center;
  letter-spacing: 0px;
  line-height: 18px;
  color: #333333;
}

.vf-datepicker .week .day {
  margin-left: 8px;
  margin-bottom: 10px;
}

.vf-datepicker .week .day {
  cursor: pointer;
  border-radius: 10%;
  width: 35px;
  height: 35px;
  position: relative;
}

.vf-datepicker .week .day .value {
  position: absolute;
  top: 8px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.vf-datepicker .week .day:hover, .vf-datepicker .week .day.drag-from, .vf-datepicker .week .day.drag-to {
  background-color: rgba(52, 198, 216, 0.1);
  border: 1px solid #34c6d8;
  color: #333333;
  align-content: center;
}

.vf-datepicker .week .day.drag-from {
  border-radius: 8px 0 0 8px;
}

.vf-datepicker .week .day.drag-to {
  border-radius: 0 8px 8px 0;
}

.vf-datepicker .go {
  position: absolute;
  vertical-align: middle;
  top: -10px;
  font-size: 30px;
}

.vf-datepicker .go a {
  color: #999999;
}

.vf-datepicker .go a:hover {
  color: #333333;
}

.vf-datepicker .go-left {
  top: -8px;
  left: 0px;
}

.vf-datepicker .go-right {
  top: -8px;
  right: 0px;
}

.vf-datepicker .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  opacity: 1;
}

.vf-datepicker .close a {
  color: #999999;
}

.vf-datepicker .close a:hover {
  color: #bbb;
}

.vf-datepicker .day.black {
  color: #999999;
  background-color: #fff;
}

.vf-datepicker .day.request-full:hover {
  background-color: #f1f1f1;
  color: #1f1f1f;
}

.vf-datepicker .request-full {
  background-color: #f1f1f1;
  color: #1f1f1f;
}

.vf-datepicker .day.black.request-full {
  background-color: #fbfbfb;
}

.vf-datepicker .request-pm {
  background: white;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWQ5ZTgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWQ5ZTgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkOWU4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, white 0%, white 50%, #f1f1f1 50%, #f1f1f1 50%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, white), color-stop(50%, white), color-stop(50%, #f1f1f1), color-stop(50%, #f1f1f1), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, white 0%, white 50%, #f1f1f1 50%, #f1f1f1 50%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, white 0%, white 50%, #f1f1f1 50%, #f1f1f1 50%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, white 0%, white 50%, #f1f1f1 50%, #f1f1f1 50%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(135deg, white 0%, white 50%, #f1f1f1 50%, #f1f1f1 50%, #f1f1f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ed9e82',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}

.vf-datepicker .request-am {
  background: #ed9e82;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWQ5ZTgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWQ5ZTgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWQ5ZTgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #f1f1f1 0%, #f1f1f1 50%, #f1f1f1 50%, white 50%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f1f1f1), color-stop(50%, #f1f1f1), color-stop(50%, #f1f1f1), color-stop(50%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f1f1f1 0%, #f1f1f1 50%, #f1f1f1 50%, white 50%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f1f1f1 0%, #f1f1f1 50%, #f1f1f1 50%, white 50%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f1f1f1 0%, #f1f1f1 50%, #f1f1f1 50%, white 50%, white 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #f1f1f1 0%, #f1f1f1 50%, #f1f1f1 50%, white 50%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9e82', endColorstr='#ffffff',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}

.vf-datepicker .dates {
  text-align: left;
  margin: 5px;
  min-height: 20px;
}

.vf-datepicker .dates .date {
  display: none;
  padding: 5px 35px 5px 15px;
  background-color: #e9e9e9;
  margin: 0 5px;
  border-radius: 5px;
  position: relative;
}

.vf-datepicker .dates .date .fa-times {
  position: absolute;
  top: 6px;
  right: 8px;
}

.vf-datepicker .vf-clear {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  bottom: 18px;
  right: 18px;
  color: #ef616d;
}

nav.navbar {
  background-color: transparent;
  font-family: "BebasNeue", serif;
  font-size: 18px;
  padding: 5px;
}

nav.navbar .navbar-brand {
  padding-top: 17px !important;
}

nav.navbar .navbar-nav .nav-link {
  color: #ffffff !important;
}

nav.transparent {
  background-color: transparent !important;
  transition: 0.2s ease all;
}

nav.active {
  background-color: #208996 !important;
  transition: 0.2s ease all;
}

nav .user {
  color: #ffffff;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

nav .avatar {
  padding: 0;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

nav .dropdown-toggle::after {
  display: none;
}

nav .dropdown-menu {
  left: -35px;
  border: none;
  border-radius: 0;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#dashboard-banner {
  height: 200px;
  background: url("../img/dash_hero.png") no-repeat center center;
  background-size: cover;
}

#dashboard-banner .container {
  height: 210px;
  width: 100%;
  text-align: center;
  padding-top: 93px;
  /* john watson */
}

#dashboard-banner .container h1 {
  line-height: normal;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1.84615px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.248839);
}

#dashboard-banner .container p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

#dashboard-tabs .nav-tabs {
  border-bottom: 3px solid #D8D8D8;
}

#dashboard-tabs .nav-tabs .nav-item {
  margin-bottom: 0px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  text-transform: normal;
}

#dashboard-tabs .nav-tabs .nav-item a {
  color: #333333;
}

#dashboard-tabs .nav-tabs .nav-item a.active {
  color: #34C6D8;
  transition: 0.2s all;
}

#dashboard-tabs .nav-tabs .nav-item a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #34C6D8;
  transform: translateY(10px);
  transition: 0.2s all;
}

#dashboard-tabs .nav-tabs .nav-item .nav-link {
  border: none;
}

#dashboard-tabs .tab-content {
  padding: 50px 0px 105px 0px;
}

#dashboard-tabs .tab-content h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#dashboard-tabs .tab-content .line {
  width: 90px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#dashboard-tabs .tab-content .purchases-content {
  display: flex;
  flex-direction: column;
}

#dashboard-tabs .tab-content .purchases-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#dashboard-tabs .tab-content .purchases-content table tbody tr td:nth-child(2) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #333333;
}

#dashboard-tabs .tab-content .purchases-content table tbody tr td:nth-child(3) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

#dashboard-tabs .tab-content .purchases-content table tbody tr td:nth-child(4) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
}

#dashboard-tabs .tab-content .purchases-content table tbody tr td:nth-child(5) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #34c6d8;
}

#dashboard-tabs .tab-content .purchases-content table tbody tr th {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.67);
}

#dashboard-tabs .tab-content .purchases-content .compCircle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #34c6d8;
  position: relative;
  right: 7px;
}

#dashboard-tabs .tab-content .purchases-content .plainIcon {
  position: relative;
  right: -30px;
}

#dashboard-tabs .tab-content .sales-content {
  display: flex;
  flex-direction: column;
}

#dashboard-tabs .tab-content .sales-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#dashboard-tabs .tab-content .sales-content table tbody tr td:nth-child(2) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #333333;
}

#dashboard-tabs .tab-content .sales-content table tbody tr td:nth-child(3) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

#dashboard-tabs .tab-content .sales-content table tbody tr td:nth-child(4) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
}

#dashboard-tabs .tab-content .sales-content table tbody tr td:nth-child(5) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #34c6d8;
}

#dashboard-tabs .tab-content .sales-content table tbody tr th {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.67);
}

#dashboard-tabs .tab-content .sales-content .compCircle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #34c6d8;
  position: relative;
  right: 7px;
}

#dashboard-tabs .tab-content .sales-content .pencilIcon {
  position: relative;
  right: -30px;
}

#dashboard-tabs .tab-content .alerts-content {
  display: flex;
  flex-direction: column;
}

#dashboard-tabs .tab-content .alerts-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#dashboard-tabs .tab-content .alerts-content table tbody tr td:nth-child(1) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.5px;
  color: #333333;
  vertical-align: middle;
}

#dashboard-tabs .tab-content .alerts-content table tbody tr td:nth-child(2) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  vertical-align: middle;
}

#dashboard-tabs .tab-content .alerts-content table tbody tr td:nth-child(3) {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2.36px;
  color: #333333;
  vertical-align: middle;
}

#dashboard-tabs .tab-content .alerts-content table tbody tr i {
  color: #ef616d;
  position: relative;
  left: 50px;
}

#dashboard-tabs .tab-content .alerts-content table tbody tr .switch label {
  margin-bottom: 0;
}

#dashboard-tabs .tab-content .profile-content p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#dashboard-tabs .tab-content .profile-content span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.88px;
  color: rgba(51, 51, 51, 0.65);
}

#dashboard-tabs .tab-content .profile-content input {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: rgba(51, 51, 51, 0.5);
  letter-spacing: -0.33px;
  margin: 8px 0px 15px 0px;
}

#dashboard-tabs .tab-content .profile-content .form-control:focus {
  border-color: #34c6d8;
  box-shadow: inset 0 1px 1px rgba(52, 198, 216, 0.075), 0 0 1px rgba(52, 198, 216, 0.6);
}

#dashboard-tabs .tab-content .profile-content .custom-control-label {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

#dashboard-tabs .tab-content .profile-content .custom-control-label::before {
  background-color: #ffffff;
  border: 1px solid #BDCDD6;
}

#dashboard-tabs .tab-content .profile-content .updateBtn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#dashboard-tabs .tab-content .profile-content .updateBtn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#underheader {
  margin-top: 60px;
  height: 90px;
}

#underheader div {
  background-color: #364345;
}

#underheader div div div ul li {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 5px;
  width: 210px;
}

#underheader div div div ul li span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

#underheader div div div ul li div {
  display: flex;
  text-align: center;
  padding: 0;
  background-color: #ffffff;
}

#underheader div div div ul li div input {
  font-family: "Fira Sans", sans-serif;
  font-color: #364345;
  font-size: 16px;
  width: 165px;
  border: none;
}

#underheader div div div ul li div .placeholder {
  margin: 5px;
}

#underheader div div div ul li div .placeholder span {
  color: #BDCDD6;
  padding-left: 3px;
  font-size: 12px;
}

#mainContent {
  display: flex;
}

#mainContent #tickets {
  margin: 10px 20px;
  width: 769px;
}

#mainContent #tickets nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  background-color: transparent;
}

#mainContent #tickets nav.active {
  background-color: transparent !important;
}

#mainContent #tickets nav ul {
  width: 295px;
}

#mainContent #tickets nav ul li {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.54;
  cursor: pointer;
  margin: 5px;
  width: 100px;
  text-align: center;
}

#mainContent #tickets nav ul .activeLi {
  background-color: #34c6d8;
  color: white;
}

#mainContent #tickets #list {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  flex-direction: column;
}

#mainContent #tickets #list li {
  border: 2px solid #E2E2E2;
  margin: 5px 0;
}

#mainContent #tickets #list li #priceDiv {
  border-right: 2px solid #E2E2E2;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 240px;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

#mainContent #tickets #list li #priceDiv #mainPrice {
  margin-top: 8px;
  font-size: 22px;
  font-family: "BebasNeue", serif;
  font-weight: bold;
  color: #4CAF50;
}

#mainContent #tickets #list li #priceDiv #selectTicket {
  cursor: pointer;
  width: 140px;
  border-radius: 100px;
  margin: 0 auto;
  padding: 5px 40px;
  font-size: 14px;
  color: white;
  font-family: "BebasNeue", serif;
  font-weight: bold;
  background-color: #ef616d;
}

#mainContent #tickets #list li #priceDiv #selectTicket img {
  padding-left: 2px;
}

#mainContent #tickets #list li #priceDiv #priceDiscount {
  display: block;
}

#mainContent #tickets #list li #priceDiv #priceDiscount div {
  margin: 5px;
  display: inline-block;
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 13px;
  color: #BDCDD6;
}

#mainContent #tickets #list li #priceDiv #priceDiscount div span {
  display: block;
}

#mainContent #tickets #list li #priceDiv #priceDiscount div .priceDel {
  font-size: 16px;
  color: #333333;
  text-decoration: line-through;
}

#mainContent #tickets #list li #priceDiv #priceDiscount div .priceChange {
  font-size: 16px;
  color: #ef616d;
}

#mainContent #tickets #list li #plainSlider #box {
  padding: 0px 25px;
  width: 450px;
}

#mainContent #tickets #list li #plainSlider #box div {
  padding: 5px 0;
  margin: 2px;
  display: flex;
  flex-direction: row;
}

#mainContent #tickets #list li #plainSlider #box div div {
  display: flex;
  flex-direction: column;
}

#mainContent #tickets #list li #plainSlider #box div div span {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.67);
}

#mainContent #tickets #list li #plainSlider #box div div .timeSl {
  color: #333333;
  font-size: 22px;
}

#mainContent #tickets #list li #plainSlider #box #borderDoted {
  border-bottom: 2px dotted rgba(51, 51, 51, 0.67);
}

#mainContent #accrd {
  margin: 30px;
}

#mainContent #accrd #accordion .card .card-header {
  border: none;
  background-color: white;
  cursor: pointer;
}

#mainContent #accrd #accordion .card .card-header .cardBox .closePng {
  float: right;
}

#mainContent #accrd #accordion .card .card-header .cardBox .card-link {
  font-family: "BebasNeue", serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

#mainContent #accrd #accordion .card .collapse .card-body {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: rgba(51, 51, 51, 0.67);
}

#mainContent #accrd #accordion .card .collapse .blackTxt {
  color: #333333;
}

#myModal {
  margin-top: 100px;
}

#modal-body {
  margin: 0 auto;
  width: 65%;
}

#modal-content {
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 22px;
  color: #333333;
}

#modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

#modal-header {
  border-bottom: none;
}

#buttonModal {
  background-color: #ef616d;
  width: 295px;
  height: 50px;
  color: #ffffff;
}

footer .prefooter {
  background-color: #34C6D8;
  padding-top: 26px !important;
  padding-bottom: 14px !important;
}

footer .prefooter h1 {
  font-family: "BebasNeue", serif;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 18px;
}

footer .prefooter p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}

footer .prefooter button {
  background-color: #ef616d;
}

footer .prefooter button h1 {
  font-size: 24px;
  margin: 0;
}

footer .prefooter input {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  letter-spacing: -0.33px;
}

footer .prefooter .email {
  padding-left: 47px;
  padding-right: 0px;
}

footer .prefooter .align-self-end {
  padding: 2px 25px;
  line-height: 20px;
}

footer .footer {
  background-color: #208996;
}

footer .footer .row1 {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

footer .footer .row1 p {
  text-align: left;
  line-height: 24px;
  opacity: 0.7;
}

footer .footer .row1 a {
  color: #ffffff;
  text-align: right;
  line-height: 32px;
  padding: 0px;
}

footer .footer .row2 .social-icon {
  padding: 0px !important;
}

footer .footer .row2 h3 {
  font-family: "BebasNeue", serif;
  font-size: 15px;
  text-align: right;
  color: #ffffff;
  line-height: 15px;
  opacity: 0.7;
  padding: 0;
}

footer .footer .row2 a {
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  text-align: right;
  color: #ffffff;
  line-height: 28px;
}

footer .footer .row2 .ver-line {
  border: 1px solid #ffffff;
  margin: 0px 5px;
}

footer .footer .row2 ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0.5rem;
}

footer .footer .row2 ul li {
  padding: 0;
  margin-left: 20px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#about {
  padding: 106px 0 100px 0 !important;
}

#about h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#about p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#about .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#about .desc {
  padding-top: 30px;
}

#about .title {
  text-align: left;
}

#about .title h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 12px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#selling {
  padding: 150px 0 96px 0 !important;
}

#selling h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#selling p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#selling span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.88px;
  color: rgba(51, 51, 51, 0.65);
}

#selling input {
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  color: rgba(51, 51, 51, 0.5);
  letter-spacing: -0.33px;
  margin: 8px 0px 15px 0px;
}

#selling .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#selling .card {
  min-width: 335px !important;
}

#selling .card .card-body {
  background-color: #F8F8F8;
}

#selling .form-control:focus {
  border-color: #34c6d8;
  box-shadow: inset 0 1px 1px rgba(52, 198, 216, 0.075), 0 0 1px rgba(52, 198, 216, 0.6);
}

#selling .custom-control-label {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

#selling .custom-control-label::before {
  background-color: #ffffff;
  border: 1px solid #BDCDD6;
}

#selling .custom-radio label {
  color: #333333;
}

#selling .custom-radio .custom-control-input:checked ~ .custom-control-label {
  font-weight: 600;
}

#selling .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ef616d;
  border-radius: 50%;
  background-image: none;
}

#selling .btn {
  text-align: center;
}

#selling .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#selling .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

#selling .recInfo span {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.6px;
  line-height: 13px;
  color: #34c6d8;
}

#myModalRecordLocator .modal-body .modalTitle {
  font-size: 22px;
  font-weight: 600;
}

#myModalRecordLocator .modal-body span {
  font-size: 14px;
  line-height: 1;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#sellingSecond {
  padding: 110px 0 90px 0 !important;
}

#sellingSecond h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#sellingSecond .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#sellingSecond .card {
  border-top: 2px solid #34c6d8;
  min-width: 335px;
}

#sellingSecond .card .card-header {
  background-color: #ffffff;
  padding: 0.15rem 1.25rem;
}

#sellingSecond .card .card-header img {
  margin-right: 8px;
}

#sellingSecond .card .card-header span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.92px;
  color: #333333;
  margin-right: 8px;
  vertical-align: middle;
}

#sellingSecond .card .card-header p {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 0px;
  vertical-align: middle;
}

#sellingSecond .card .card-header .greenH1 {
  color: #4CAF50;
}

#sellingSecond .card .card-body {
  background-color: #F8F8F8;
}

#sellingSecond .card .card-body small {
  font-family: "BebasNeue", serif;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

#sellingSecond .card .card-body .tctNum {
  font-size: 12px;
  color: #34c6d8;
}

#sellingSecond .card .card-body .sellingRadio:checked ~ .custom-control-label {
  font-weight: 600;
}

#sellingSecond .card .card-body .sellingRadio:checked ~ .custom-control-label::after {
  background-color: #4CAF50;
  border-radius: 50%;
  background-image: none;
}

#sellingSecond .btn {
  text-align: center;
}

#sellingSecond .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#sellingSecond .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

#sellingSecond #setPrice {
  padding: 140px 0px 33px 0px;
}

.sellingModal .modal-dialog .modal-content #modal-header .back {
  padding: 0;
  background-color: white;
  border: none;
}

.sellingModal .modal-dialog .modal-content .m-b-60 {
  width: 60%;
}

.sellingModal .modal-dialog .modal-content .m-b-60 span {
  margin: 10px;
}

.sellingModal .modal-dialog .modal-content .m-b-60 .amountTickInput {
  width: 70%;
}

.sellingModal .modal-dialog .modal-content .modal-body {
  text-align: center;
}

.sellingModal .modal-dialog .modal-content .modal-body span {
  font-size: 18px;
}

.sellingModal .modal-dialog .modal-content .modal-body .modalTitle {
  font-size: 22px;
  font-weight: 600;
}

#discountModal .modal-body {
  text-align: center;
}

#discountModal .modal-body span {
  font-size: 13px;
  font-family: "Fira Sans", sans-serif;
}

#fixedPrice2Modal .modal-body {
  width: 90%;
}

#discountModal .modal-body {
  text-align: center;
}

#discountModal .modal-body span {
  font-size: 18px;
}

#discountModal .modal-body .modalTitle {
  font-size: 22px;
  font-weight: 600;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#SellingEnd {
  margin-top: 60px;
}

#SellingEnd .finalSelling {
  padding: 100px;
  text-align: center;
}

#SellingEnd .finalSelling .shareTxt {
  text-align: center;
  font-family: "BebasNeue", serif;
  font-weight: 600;
  font-size: 32px;
  color: #333333;
}

#SellingEnd .finalSelling .thnxTxt {
  font-family: "BebasNeue", serif;
  font-size: 32px;
  color: #333333;
}

#SellingEnd .finalSelling div {
  margin: 20px 0;
}

#SellingEnd .finalSelling .finaltext {
  font-size: 16px;
  color: #333333;
  width: 35%;
}

#SellingEnd .finalSelling .btnSellingBox {
  margin-top: 20px;
  width: 700px;
}

#SellingEnd .finalSelling .btnSellingBox .redBtn {
  color: #ffffff;
}

#SellingEnd .finalSelling .btnSellingBox .whiteBtn {
  color: #34c6d8;
  background-color: #ffffff;
  border: 1px solid #34c6d8;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#selectionTicket {
  padding: 110px 0 20px 0 !important;
}

#selectionTicket .container .row {
  margin: 20px 0;
}

#selectionTicket h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#selectionTicket .card {
  min-width: 335px;
}

#selectionTicket .card .card-header {
  background-color: #ffffff;
  padding: 0.15rem 1.25rem;
}

#selectionTicket .card .card-header img {
  margin-right: 8px;
}

#selectionTicket .card .card-header span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.92px;
  color: #333333;
  margin-right: 8px;
  vertical-align: middle;
}

#selectionTicket .card .card-header p {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 0px;
  vertical-align: middle;
}

#selectionTicket .card .card-header .greenH1 {
  color: #4CAF50;
}

#selectionTicket .card .card-body {
  background-color: #F8F8F8;
}

#selectionTicket .card .card-body .inputBox {
  margin: 10px 0;
}

#selectionTicket .card .card-body small {
  font-family: "BebasNeue", serif;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.67);
  text-transform: uppercase;
  font-weight: 600;
}

#selectionTicket .card .card-body .tctNum {
  font-size: 12px;
  color: #34c6d8;
}

#selectionTicket .card .card-body .sellingRadio:checked ~ .custom-control-label {
  font-weight: 600;
}

#selectionTicket .card .card-body .sellingRadio:checked ~ .custom-control-label::after {
  background-color: #4CAF50;
  border-radius: 50%;
  background-image: none;
}

#selectionTicket .btn {
  text-align: center;
}

#selectionTicket .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#selectionTicket .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

#selectionTicket #ticketLbl .line {
  min-width: 84px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#selectionTicket #bookingLbl .line {
  min-width: 200px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#selectionTicket #bookInform {
  min-width: 500px;
}

#selectionTicket #bookInform .card {
  background-color: #F8F8F8;
}

#selectionTicket #bookInform .card .card-body .protectTxt {
  font-family: "Fira Sans", sans-serif;
  color: rgba(51, 51, 51, 0.67);
  font-size: 12px;
  font-weight: 100;
  line-height: 1;
}

#selectionTicket #priceDiv {
  padding: 20px;
}

#selectionTicket #priceDiv span {
  font-family: "BebasNeue", serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.67);
}

#selectionTicket #priceDiv .mainPrice span {
  font-size: 26px;
  color: #4CAF50;
}

#selectionTicket #priceDiv .priceDel span {
  font-size: 18px;
  color: #333333;
  text-decoration: line-through;
}

#selectionTicket #priceDiv .priceChange span {
  font-size: 18px;
  color: #ef616d;
}

#selectionTicket #indicateRadioDiv {
  margin: 0;
}

#selectionTicket #indicateRadioDiv .custom-control .custom-control-label {
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
}

#selectionTicket #eCardsBox div {
  text-align: center;
}

#selectionTicket #eCardsBox div span {
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  color: rgba(51, 51, 51, 0.67);
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#terms {
  padding: 55px 0 75px 0 !important;
}

#terms h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#terms p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#terms .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#terms .desc {
  padding-top: 30px;
}

#terms .title {
  text-align: left;
}

#terms .title h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 12px;
}

#terms-banner {
  padding-top: 60px;
  height: 260px;
  background: url("../img/termsBanner.png") no-repeat center center;
  background-size: cover;
}

#terms-banner .container {
  padding-top: 82px;
  /* john watson */
}

#terms-banner .container h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  text-align: left;
  color: #ffffff;
  letter-spacing: 1.84615px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#faq-help {
  height: 205px;
  background-color: #34c6d8;
  background-size: cover;
}

#faq-help .container {
  height: 205px;
  width: 100%;
  text-align: center;
  padding-top: 110px;
}

#faq-help .container h1 {
  font-family: "BebasNeue", serif;
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.75px;
  font-weight: bold;
}

#faq-help .container p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

#faq-help .container #custom-search-input {
  position: static;
  width: 335px;
  border: solid 2px #E2E2E2;
  border-radius: 4px;
  background-color: #ffffff;
}

#faq-help .container #custom-search-input input {
  border: 0;
  box-shadow: none;
}

#faq-help .container #custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0 8px 0 10px;
  border-radius: 0;
  border-left: solid 2px #E2E2E2;
}

#faq-help .container #custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 2px #34c6d8;
}

#faq-help .container #custom-search-input .input-group {
  padding: 0px;
}

#faq-help .container #custom-search-input .material-icons {
  font-size: 26px;
  color: #34c6d8;
  vertical-align: middle;
}

#faq {
  padding: 106px 0 100px 0 !important;
}

#faq h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  letter-spacing: 1.75px;
  margin-bottom: 0;
}

#faq p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

#faq .list-group-item {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  color: #333333;
}

#faq .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#faq .desc {
  padding-top: 30px;
}

#faq .title {
  text-align: left;
}

#faq .title h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 12px;
}

#faq .vl {
  border-left: 4px solid #34c6d8;
  height: 26px;
  position: absolute;
  left: 2%;
}

#faq .contactus {
  border-color: #34c6d8;
}

#faq .contactus .btn {
  text-align: center;
}

#faq .contactus .btn button {
  min-width: 145px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#faq .contactus .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

#faq .contactus p {
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.7);
}

#faq #accordion .card {
  border: none !important;
}

#faq #accordion h1 {
  font-size: 20px;
  color: #333333;
}

#faq #accordion i {
  color: #34c6d8;
}

#faq #accordion .card-header {
  padding: .5rem 1.25rem;
  background: none;
}

#faq #accordion .card-header .btn-link {
  text-decoration: none;
}

#faq #accordion .card-body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

#faq [data-toggle="collapse"] .material-icons:before {
  content: "remove_circle";
}

#faq [data-toggle="collapse"].collapsed .material-icons:before {
  content: "add_circle";
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#purchaseSummary {
  margin: 60px 0;
  padding: 40px 0 20px 0 !important;
}

#purchaseSummary .purchTxt {
  text-align: center;
}

#purchaseSummary .purchTxt .tittlePurch {
  font-size: 32px;
  font-family: "BebasNeue", serif;
  font-weight: 600;
  color: #34c6d8;
}

#purchaseSummary .purchTxt .thnxBox {
  width: 50%;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  color: rgba(51, 51, 51, 0.67);
}

#purchaseSummary .priceBox {
  text-align: center;
  padding: 20px;
}

#purchaseSummary .priceBox .row {
  min-width: 185px;
}

#purchaseSummary .priceBox div {
  margin: 0;
}

#purchaseSummary .priceBox span {
  font-family: "BebasNeue", serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.67);
}

#purchaseSummary .priceBox .mainPrice span {
  font-size: 22px;
  color: #4CAF50;
}

#purchaseSummary .priceBox .priceDel span {
  font-size: 16px;
  color: #333333;
  text-decoration: line-through;
}

#purchaseSummary .priceBox .priceChange span {
  font-size: 16px;
  color: #ef616d;
}

#purchaseSummary .ticketEx {
  padding: 20px 0;
  border-top: 2px solid #E2E2E2;
}

#purchaseSummary h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#purchaseSummary .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#purchaseSummary .card {
  padding: 0;
  min-width: 335px;
}

#purchaseSummary .card:nth-child(2n-1) {
  margin-right: 28px;
}

#purchaseSummary .card .card-header {
  background-color: #ffffff;
  padding: 0.15rem 1.25rem;
}

#purchaseSummary .card .card-header img {
  margin-right: 8px;
}

#purchaseSummary .card .card-header span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.92px;
  color: #333333;
  margin-right: 8px;
  vertical-align: middle;
}

#purchaseSummary .card .card-header p {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 0px;
  vertical-align: middle;
}

#purchaseSummary .card .card-header .greenH1 {
  color: #4CAF50;
}

#purchaseSummary .card .card-body {
  background-color: #F8F8F8;
}

#purchaseSummary .card .card-body .inputBox div {
  margin: 10px 0;
}

#purchaseSummary .card .card-body small {
  font-family: "BebasNeue", serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

#purchaseSummary .card .card-body .tctNum {
  font-size: 12px;
  color: #34c6d8;
}

#purchaseSummary .card .card-body .sellingRadio:checked ~ .custom-control-label {
  font-weight: 600;
}

#purchaseSummary .card .card-body .sellingRadio:checked ~ .custom-control-label::after {
  background-color: #4CAF50;
  border-radius: 50%;
  background-image: none;
}

#purchaseSummary .btn {
  text-align: center;
}

#purchaseSummary .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#purchaseSummary .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

#purchaseSummary .finalSelling {
  padding: 60px 0 20px 0;
  text-align: center;
}

#purchaseSummary .finalSelling .shareTxt {
  text-align: center;
  font-family: "BebasNeue", serif;
  font-weight: 600;
  font-size: 32px;
  color: #333333;
}

#purchaseSummary .finalSelling .thnxTxt {
  font-family: "BebasNeue", serif;
  font-size: 32px;
  color: #333333;
}

#purchaseSummary .finalSelling div {
  margin: 10px 0;
}

#purchaseSummary .finalSelling .finaltext {
  font-size: 16px;
  color: #333333;
  width: 35%;
}

#purchaseSummary .finalSelling .btnSellingBox {
  margin-top: 20px;
  width: 650px;
}

#purchaseSummary .finalSelling .btnSellingBox .redBtn {
  color: #ffffff;
}

#purchaseSummary .finalSelling .btnSellingBox .whiteBtn {
  color: #34c6d8;
  background-color: #ffffff;
  border: 1px solid #34c6d8;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#logIn {
  margin-top: 60px;
}

#logIn .logDiv {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  right: 0;
  top: 100px;
}

#logIn .line {
  width: 60px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#logIn h1 {
  font-size: 32px;
  font-family: "BebasNeue", serif;
  color: #34c6d8;
  font-weight: 600;
}

#logIn .enterByMail {
  padding: 100px;
}

#logIn .enterByMail .loginBtn {
  margin-top: 53px;
}

#logIn .enterByMail .loginBtn span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1.15px;
}

#logIn .enterByMail img {
  width: 20px;
}

#logIn .enterByMail input[type="text"] {
  margin: 10px 0;
  border: none;
  color: #333333;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#logIn .enterByMail input[type="password"] {
  margin: 10px 0;
  border: none;
  color: #333333;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#logIn .enterByMail input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

#logIn .enterByMail input[type="password"]:focus {
  outline: none;
  box-shadow: none;
}

#logIn .enterByMail div {
  text-align: center;
}

#logIn .enterByMail .bord-bot-div {
  border-bottom: 2px solid #34c6d8;
}

#logIn .entryBySocial {
  padding: 100px;
  background-color: #F8F8F8;
}

#logIn .entryBySocial button {
  margin: 10px 0;
}

#logIn .entryBySocial .facebookBtn {
  background-color: white;
  border: 2px solid #3C5B97;
  color: #3C5B97;
  font-size: 20px;
  font-family: "BebasNeue", serif;
}

#logIn .entryBySocial .facebookBtn img {
  margin-top: -2px;
}

#logIn .entryBySocial .googleBtn {
  background-color: #ffffff;
  border: 2px solid #ef616d;
  color: #ef616d;
  font-size: 20px;
  font-family: "BebasNeue", serif;
}

#logIn .entryBySocial .googleBtn img {
  margin-top: -2px;
}

#logIn .entryBySocial .notAccDiv {
  margin-top: 80px;
}

#logIn .entryBySocial .notAccDiv span {
  font-family: "BebasNeue", serif;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.92px;
}

#logIn .entryBySocial .notAccDiv .signUpBtn {
  background-color: #ffffff;
  border: 2px solid #34c6d8;
  color: #34c6d8;
}

#logIn .entryBySocial .notAccDiv .signUpBtn span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 20px;
  color: #34c6d8;
  letter-spacing: 1.15px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

.entryBySocial .socNetwDiv .txtSNet {
  font-size: 16px;
  font-family: "BebasNeue", serif;
  color: #333333;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#adminTickets-tabs h1 span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1.85px;
  color: #34c6d8;
}

#adminTickets-tabs .container {
  padding: 51px 0 237px 0;
}

#adminTickets-tabs .nav-tabs {
  border-bottom: 3px solid #D8D8D8;
}

#adminTickets-tabs .nav-tabs .nav-item {
  margin-bottom: 0px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#adminTickets-tabs .nav-tabs .nav-item a {
  color: #333333;
}

#adminTickets-tabs .nav-tabs .nav-item a.active {
  color: #34C6D8;
  transition: 0.2s all;
}

#adminTickets-tabs .nav-tabs .nav-item a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #34C6D8;
  transform: translateY(10px);
  transition: 0.2s all;
}

#adminTickets-tabs .nav-tabs .nav-item .nav-link {
  border: none;
}

#adminTickets-tabs .tab-content h1 {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  color: #34c6d8;
  text-align: center;
  margin-bottom: 0;
}

#adminTickets-tabs .tab-content .line {
  width: 90px;
  height: 0px;
  border: 1px solid #34c6d8;
}

#adminTickets-tabs .tab-content .all-content {
  display: flex;
  flex-direction: column;
}

#adminTickets-tabs .tab-content .all-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#adminTickets-tabs .tab-content .all-content table tbody tr td:nth-child(1) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #333333;
}

#adminTickets-tabs .tab-content .all-content table tbody tr td:nth-child(2) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

#adminTickets-tabs .tab-content .all-content table tbody tr td:nth-child(3) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
}

#adminTickets-tabs .tab-content .all-content table tbody tr td:nth-child(4) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #34c6d8;
}

#adminTickets-tabs .tab-content .all-content .plainIcon {
  position: relative;
  right: -30px;
}

#adminTickets-tabs .tab-content .sold-content {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#adminUsers h1 span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1.85px;
  color: #34c6d8;
}

#adminUsers .container {
  padding: 51px 0 164px 0;
}

#adminUsers #custom-search-input {
  position: static;
  width: 260px;
  border: solid 2px #E2E2E2;
  border-radius: 4px;
  background-color: #ffffff;
}

#adminUsers #custom-search-input input {
  border: 0;
  box-shadow: none;
}

#adminUsers #custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0 8px 0 10px;
  border-radius: 0;
  border-left: solid 2px #E2E2E2;
}

#adminUsers #custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 2px #34c6d8;
}

#adminUsers #custom-search-input .input-group {
  padding: 0px;
}

#adminUsers #custom-search-input .material-icons {
  font-size: 26px;
  color: #34c6d8;
  vertical-align: middle;
}

#adminUsers .adminUsers-content {
  display: flex;
  flex-direction: column;
}

#adminUsers .adminUsers-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#adminUsers .adminUsers-content table tbody tr td:nth-child(1) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #333333;
}

#adminUsers .adminUsers-content table tbody tr td:nth-child(2) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

#adminUsers .adminUsers-content table tbody tr td:nth-child(3) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
}

#adminUsers .adminUsers-content table tbody tr td:nth-child(4) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #34c6d8;
}

#adminUsers .adminUsers-content .compCircle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #34c6d8;
  position: relative;
  right: 7px;
}

#adminUsers .adminUsers-content .plainIcon {
  position: relative;
  right: -30px;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot");
  src: url("../fonts/BebasNeueThin/BebasNeueThin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueThin/BebasNeueThin.woff") format("woff"), url("../fonts/BebasNeueThin/BebasNeueThin.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: Book;
  font-style: normal;
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
}

#adminMetrics h1 span {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1.85px;
  color: #34c6d8;
}

#adminMetrics .container {
  padding: 51px 0 164px 0;
}

#adminMetrics .adminMetrics-content {
  display: flex;
  flex-direction: column;
}

#adminMetrics .adminMetrics-content table thead {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(51, 51, 51, 0.67);
}

#adminMetrics .adminMetrics-content table tbody tr td:nth-child(1) {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #333333;
}

#adminMetrics .adminMetrics-content table tbody tr td:nth-child(2) {
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

#adminMetrics .adminMetrics-content .compCircle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #34c6d8;
  position: relative;
  right: 7px;
}

#adminMetrics .adminMetrics-content .plainIcon {
  position: relative;
  right: -30px;
}

html {
  background-color: #ffffff;
}

html input {
  box-shadow: none !important;
}

html button {
  box-shadow: none !important;
}

body {
  background-color: "#sfsdf5";
}

#main {
  background: url("../img/mainCover.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  padding: 120px 178px 287px;
  color: #ffffff;
}

#main .widget {
  width: 335px;
  height: 465px;
  background-color: #F8F8F8;
  border-radius: 6px;
  border-bottom-right-radius: 0;
}

#main .widget .calDates :first-child {
  padding-right: 0px;
}

#main .widget .calDates :last-child {
  padding-left: 0px;
}

#main .widget .placepicker {
  min-width: 295px;
  border-radius: 0;
  border: 2px solid #E2E2E2;
  border-top-style: none;
  box-shadow: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
}

#main .widget .loc1 {
  border-bottom-style: dashed;
}

#main .widget .subPlacepicker {
  font-family: "BebasNeue", serif;
  font-size: 12px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.5);
  background-color: #ffffff;
  border: 2px solid #E2E2E2;
  border-bottom-style: none;
  padding: 0.5rem 0 0 0.75rem;
  height: 23px;
  width: 295px;
  margin-right: 0px !important;
}

#main .widget .loc2 {
  border-top-style: dashed;
}

#main .widget input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background-color: transparent;
  vertical-align: middle;
  background: url(../img/ic_close.svg);
}

#main .widget .btn-group {
  box-shadow: 0 4px 5px -2px #BDCDD6;
}

#main .widget .btn-group button {
  width: 168px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  border: 0;
  font-family: "BebasNeue", serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.15px;
}

#main .widget .btn-group .buyBtn {
  border-top-left-radius: 6px;
  background-color: #ef616d;
  color: #ffffff;
}

#main .widget .btn-group .sellBtn {
  border-top-right-radius: 6px;
  background-color: #ffffff;
  color: #333333;
}

#main .widget .inputDate .form-control {
  border-radius: 0;
  border: 2px solid #E2E2E2;
  border-top-style: none;
  width: 147.5px;
  margin: 0;
}

#main .widget .inputDate .subText {
  font-family: "BebasNeue", serif;
  font-size: 12px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.5);
  background-color: #ffffff;
  border: 2px solid #E2E2E2;
  border-bottom-style: none;
  padding: 0.5rem 0 0 0.75rem;
  height: 23px;
  width: 147.5px;
  margin-right: 0px !important;
}

#main .widget .inputDate span {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

#main .widget .inputPasseng .form-control {
  border-radius: 0;
  border: 2px solid #E2E2E2;
  border-top-style: none;
  width: 295px;
  margin: 0;
}

#main .widget .inputPasseng .subText {
  font-family: "BebasNeue", serif;
  font-size: 12px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.5);
  background-color: #ffffff;
  border: 2px solid #E2E2E2;
  border-bottom-style: none;
  padding: 0.5rem 0 0 0.75rem;
  height: 23px;
  width: 295px;
  margin-right: 0px !important;
}

#main .widget .btn {
  text-align: center;
}

#main .widget .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#main .widget .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  letter-spacing: 1.15px;
}

#main .widget .btn button .whitePlain {
  padding-left: 5px;
}

#main h1 {
  font-family: "BebasNeue", serif;
  text-align: right;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2.2px;
}

#main h2 {
  font-family: "BebasNeue", serif;
  font-weight: 400;
  text-align: right;
  font-size: 38px;
  line-height: 12px;
  letter-spacing: 2.2px;
}

#info {
  padding-top: 70px;
  padding-bottom: 42px;
}

#info h1 {
  font-family: "BebasNeue", serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #1FBCD2;
  margin-bottom: 22px;
}

#info h1 span {
  height: 1px;
  width: 50px;
  background-color: #1FBCD2;
}

#info h3 {
  font-family: "BebasNeue", serif;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

#info p {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
  color: #333333;
  line-height: 26px;
}

#info i {
  color: #1FBCD2;
}

#info .info-blocks {
  margin-bottom: 26px;
}

#info .info-blocks .col {
  padding-left: 0px;
  padding-right: 0px;
}

#info .info-blocks .col p {
  text-align: left;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  opacity: 0.7;
  color: #000000;
  line-height: 120%;
}

#info .info-blocks .col span {
  float: left;
  margin-bottom: 100px;
}

#info .info-blocks .col h3 {
  margin-bottom: 22px;
  letter-spacing: 1.3px;
}

#info .col-8 {
  margin-bottom: 13px;
}

#info .col-8 p {
  width: 91%;
  margin: 0 auto;
}

#info .btn {
  text-align: center;
}

#info .btn button {
  min-width: 295px;
  background-color: #ef616d;
  border: 0px;
  padding: 7px;
}

#info .btn button h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}
