@import "_mixins/font-face";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@include font-face("BebasNeue", "../fonts/BebasNeueRegular/BebasNeueRegular");
@include font-face("BebasNeue", "../fonts/BebasNeueBold/BebasNeueBold", bold);
@include font-face("BebasNeue", "../fonts/BebasNeueLight/BebasNeueLight", 300);
@include font-face("BebasNeue", "../fonts/BebasNeueThin/BebasNeueThin", 100);
@include font-face("BebasNeue", "../fonts/BebasNeueBook/BebasNeueBook", Book);
// Font Variables

// @include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);

// @font-face {
//     font-family: 'Bebas Neue';
//     src: url('BebasNeueRegular.eot');
//     src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url('BebasNeueRegular.eot?#iefix') format("embedded-opentype"), url('BebasNeueRegular.woff') format("woff"), url('BebasNeueRegular.ttf') format("truetype");
//     font-weight: normal;
//     font-style: normal;
//   }
  
  
//   @font-face {
//     font-family: 'Bebas Neue';
//     src: url('BebasNeueBold.eot');
//     src: local("Bebas Neue Bold"), local("BebasNeueBold"), url('BebasNeueBold.eot?#iefix') format("embedded-opentype"), url('BebasNeueBold.woff') format("woff"), url('BebasNeueBold.ttf') format("truetype");
//     font-weight: bold;
//     font-style: normal;
//   }
  
  
//   @font-face {
//     font-family: 'Bebas Neue';
//     src: url('BebasNeueLight.eot');
//     src: local("Bebas Neue Light"), local("BebasNeueLight"), url('BebasNeueLight.eot?#iefix') format("embedded-opentype"), url('BebasNeueLight.woff') format("woff"), url('BebasNeueLight.ttf') format("truetype");
//     font-weight: 300;
//     font-style: normal;
//   }
  
  
//   @font-face {
//     font-family: 'Bebas Neue';
//     src: url('BebasNeue-Thin.eot');
//     src: local("Bebas Neue Thin"), local("BebasNeueThin"), url('BebasNeue-Thin.eot?#iefix') format("embedded-opentype"), url('BebasNeue-Thin.woff') format("woff"), url('BebasNeue-Thin.ttf') format("truetype");
//     font-weight: 100;
//     font-style: normal;
//   }
  
  
//   @font-face {
//     font-family: 'Bebas Neue Book';
//     src: url('BebasNeueBook.eot');
//     src: local("Bebas Neue Book"), local("BebasNeueBook"), url('BebasNeueBook.eot?#iefix') format("embedded-opentype"), url('BebasNeueBook.woff') format("woff"), url('BebasNeueBook.ttf') format("truetype");
//     font-weight: normal;
//     font-style: normal;
//   }