.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
}
input.cmn-toggle-round-flat + label {
  padding: 1px;
  width: 114px;
  height: 28px;
  border-radius: 3px;
  background-color: #DDDDDD;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 3px;

  background-color: #F8F4F4;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;

}
input.cmn-toggle-round-flat + label:after {
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  width: 56px;
  background-color: #dddddd;
  -webkit-transition: margin 0.2s, background 0.2s;
  -moz-transition: margin 0.2s, background 0.2s;
  -o-transition: margin 0.2s, background 0.2s;
  transition: margin 0.2s, background 0.2s;
  content: "off";
  color: $blackColor;
  -webkit-align-content: center;
  align-content: center;
  font-family: $fira;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align-last: center;
  padding-top: 4px;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: $active-color;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 56px;
  background-color: $active-color;
  content: "on";
  -webkit-align-content: center;
  align-content: center;
  color: $white;
}