$active-color: #ef616d;
$white: #ffffff;
$primary-blue: #34c6d8;
$cyan: #208996;
$tableGray: #999999;

$blackBckgr :#364345;
$priceGreen : #4CAF50;
$greyStroke: #E2E2E2;
$blackColor:#333333;
$greyColor:#BDCDD6;
$lightGray:#F8F8F8;
$darkBlue:#3C5B97;


$bebas: 'BebasNeue', serif;
$fira: 'Fira Sans', sans-serif;