@import "fonts";
@import "vars";
@import "switcher";
@import "datepicker";
// @import "result";
// @import "ticketsDetails";

// Layout
@import "layout/navbar";


// Pages
@import "pages/dashboard";
@import "pages/result";
@import "pages/about";
@import "pages/selling";
@import "pages/sellingSecond";
@import "pages/sellingFinal";
@import "pages/ticketsDetails";
@import "pages/terms";
@import "pages/faq";
@import "pages/purchaseComplite";
@import "pages/login";
@import "pages/signUp";
@import "pages/adminTickets";
@import "pages/adminUsers";
@import "pages/adminMetrics";




html {
    background-color: $white;
    input {
        box-shadow: none !important;
    }
    button {
        box-shadow: none !important;
    }
}
body {
    background-color: "#sfsdf5";
    
    // font-family: $bebas;
    // font-weight: 100;
    // font-size: 18px;
}

#main {
    background: url("../img/mainCover.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    padding: 120px 178px 287px;
    color: $white;

    .widget {
        width: 335px;
        height: 465px;
        background-color: $lightGray;
        border-radius: 6px;
        border-bottom-right-radius: 0;
       
        .calDates {
            :first-child {
                padding-right: 0px;
            }
            :last-child {
                padding-left: 0px;
            }
        }
        .placepicker {
            min-width: 295px;
            border-radius: 0;
            border: 2px solid $greyStroke;
            border-top-style: none;
            box-shadow:none;
            font-family: $fira;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: $blackColor; 
        }
        .loc1 {
            border-bottom-style: dashed;
        }
        

        .subPlacepicker {
            font-family: $bebas;
            font-size: 12px;
            font-weight: bold;
            color: rgba($blackColor, 0.5);
            background-color: $white;
            border: 2px solid $greyStroke;
            border-bottom-style: none;
            padding: 0.5rem 0 0 0.75rem;
            height: 23px;
            width: 295px;
            margin-right: 0px !important;
            
        }
        .loc2 {
            border-top-style: dashed;
        }
        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 18px;
            width: 18px;
            background-color: transparent;
            vertical-align: middle;
            background: url(../img/ic_close.svg);
        }
        .btn-group {
            box-shadow: 0 4px 5px -2px $greyColor;
            button {
                width: 168px;
                height: 50px;
                border-radius: 0;
                text-align: center;
                border: 0;
                font-family: $bebas;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 1.15px;
            }
            .buyBtn {
                border-top-left-radius: 6px;
                background-color: $active-color;
                color: $white;
            }
            .sellBtn {
                border-top-right-radius: 6px;
                background-color: $white;
                color: $blackColor;
            }
        }
        .inputDate {
            .form-control {
                border-radius: 0;
                border: 2px solid $greyStroke;
                border-top-style: none;
                width: 147.5px;
                margin: 0;
            }
            .subText {
                font-family: $bebas;
                font-size: 12px;
                font-weight: bold;
                color: rgba($blackColor, 0.5);
                background-color: $white;
                border: 2px solid $greyStroke;
                border-bottom-style: none;
                padding: 0.5rem 0 0 0.75rem;
                height: 23px;
                width: 147.5px;
                margin-right: 0px !important;
                
            }
            span {
                font-family: $fira;
                font-size: 16px;
                font-weight: 500;
                color: rgba($blackColor, 1);
                
            }
        }
        .inputPasseng {
            .form-control {
                border-radius: 0;
                border: 2px solid $greyStroke;
                border-top-style: none;
                width: 295px;
                margin: 0;
            }
            .subText {
                font-family: $bebas;
                font-size: 12px;
                font-weight: bold;
                color: rgba($blackColor, 0.5);
                background-color: $white;
                border: 2px solid $greyStroke;
                border-bottom-style: none;
                padding: 0.5rem 0 0 0.75rem;
                height: 23px;
                width: 295px;
                margin-right: 0px !important;
                
            }
        }
        // .popover-markup .popover{
        //     width:150%;
        // }
          
        // .popover-markup label{
        //     padding:0px;
        // }

        .btn {
            text-align: center;
            button {
                min-width: 295px;
                background-color: $active-color;
                border: 0px;
                padding: 7px;
    
                h1 {
                    color: $white;
                    font-size: 20px;
                    margin: 5px 0px 5px 0px;
                    text-align: center;
                    letter-spacing: 1.15px;
                }
                .whitePlain {
                    padding-left: 5px;
                }
            }
        }
        
        
    }

    h1 {
        font-family: $bebas;
        text-align: right;
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 2.2px;
    }

    h2 {
        font-family: $bebas;
        font-weight: 400;
        text-align: right;
        font-size: 38px;
        line-height: 12px;
        letter-spacing: 2.2px;
    }
}

#info {
    padding-top: 70px;
    padding-bottom: 42px;

    h1 {
        font-family: $bebas;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #1FBCD2;
        margin-bottom: 22px;

        span {
            height: 1px;
            width: 50px;
            background-color: #1FBCD2;
        }
    }

    h3 {
        font-family: $bebas;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-family: $fira;
        font-size: 16px;
        // font-weight: bold;
        opacity: 0.7;
        text-align: center;
        color: #333333;
        line-height: 26px;
    }

    i {
        color: #1FBCD2;
    }

    .info-blocks {
        margin-bottom: 26px;

        .col {
            padding-left: 0px;
            padding-right: 0px;

            p {
                text-align: left;
                font-family: $fira;
                font-size: 16px;
                opacity: 0.7;
                color: #000000;
                line-height: 120%;
            }

            span {
                float: left;
                margin-bottom: 100px;
                // padding-top: 7px;
            }

            h3 {
                margin-bottom: 22px;
                letter-spacing: 1.3px;
            }
        }
    }


    .col-8 {
        margin-bottom: 13px;

        p {
            width: 91%;
            margin: 0 auto;
        }
    }

    .btn {
        text-align: center;

        button {
            min-width: 295px;
            background-color: $active-color;
            border: 0px;
            padding: 7px;

            h1 {
                color: $white;
                font-size: 20px;
                margin: 5px 0px 5px 0px;
            }
        }
    }
}
