// footer styles for all pages

footer {
    .prefooter {
        background-color: #34C6D8;
        padding-top: 26px !important;
        padding-bottom: 14px !important;

        h1 {
            font-family: $bebas;
            text-align: left;
            font-size: 28px;
            font-weight: bold;
            color: $white;
            margin-bottom: 18px;
        }

        p {
            font-family: $fira;
            text-align: center;
            font-size: 13px;
            font-weight: normal;
            color: $white;
        }
        button {
            background-color: $active-color;
            // font-size: dfsdf 
            h1 {
                font-size: 24px;
                margin: 0;
            }
        }
        input {
            font-family: $fira;
            text-align: left;
            font-size: 16px;
            font-weight: normal;
            color: #333333;
            letter-spacing: -0.33px;
        }

        .email {
            padding-left: 47px;
            padding-right: 0px;
        }

        .align-self-end {
            padding: 2px 25px;
            line-height: 20px;
        }
    }

    .footer {

        background-color: #208996;
        .row1 {
            color: $white;
            font-family: $fira;
            font-size: 14px;
            p {
                text-align: left;
                line-height: 24px;
                opacity: 0.7;
            }
            a {
                color: $white;
                text-align: right;
                line-height: 32px;
                padding: 0px;
            }
        }
        .row2 {
            .social-icon {
                padding: 0px !important;
            }
            
            h3 {
                font-family: $bebas;
                font-size: 15px;
                text-align: right;
                color: $white;
                line-height: 15px;
                opacity: 0.7;
                padding: 0;
            }
            a {
                font-family: $fira;
                font-size: 13px;
                text-align: right;
                color: $white;
                line-height: 28px;
            }
            .ver-line {
                border: 1px solid $white;
                margin: 0px 5px;
            }
            ul {
                
                list-style: none;
                display: flex;
                padding: 0;
                margin-bottom: 0.5rem;
                li {
                    padding: 0;
                    margin-left: 20px;
                }
            } 
            // .socials {
            //     display: flex;
            //     padding: 0px;
            // }
        }
    }
}