// Navbar styles for all pages

nav {
    &.navbar {
        background-color: transparent;
        font-family: $bebas;
        font-size: 18px;
        padding: 5px;

        .navbar-brand {
            padding-top: 17px !important;
        }

        .navbar-nav {

            .nav-link {
                color: $white !important;
            }
        }
    }

    &.transparent {
        background-color: transparent !important;
        transition: 0.2s ease all;
    }

    &.active {
        background-color: $cyan !important;
        transition: 0.2s ease all;
    }
    .user {
        color: $white;
        background-color: transparent;
        font-family: $fira;
        font-size: 16px;
        font-weight: normal;
    }
    .avatar {
        padding: 0;
        margin-left: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
    .dropdown-toggle::after {
        display:none
    }
    .dropdown-menu {
        left: -35px;
        border: none;
        border-radius: 0;
    }
}