@import "fonts";
@import "vars";

#about {
    padding: 106px 0 100px 0 !important;
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        margin-bottom: 0;
    }
    p {
        font-family: $fira;
        font-size: 16px;
        line-height: 26px;
    }
    .line{
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
    }
    .desc {
        padding-top: 30px;
    }
    .title {
        text-align: left;
        
        h1 {
            font-family: $fira;
            font-weight: bold;
            font-size: 22px;
            color: $primary-blue;
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 12px;
        }
    }
}