@import "fonts";
@import "vars";

#adminTickets-tabs {
	h1 {
        span {
            font-family: $bebas;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 1.85px;
            color: $primary-blue;
        }
    }
	.container {
		padding: 51px 0 237px 0;
	}
	.nav-tabs {
        border-bottom: 3px solid #D8D8D8;
        
		.nav-item {
			margin-bottom: 0px;
            font-family: $fira;
            font-size: 16px;
			font-weight: 500;
            text-transform: uppercase;

			a {
				color: $blackColor;

				&.active {
					color: #34C6D8;
					transition: 0.2s all;

					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 3px;
						background-color: #34C6D8;
						transform: translateY(10px);
						transition: 0.2s all;
					}
				}
			}

			.nav-link {
				border: none;
			}
		}
    }
    .tab-content {
		h1 {
			font-family: $bebas;
			font-weight: bold;
			font-size: 32px;
			color: $primary-blue;
			text-align: center;
			margin-bottom: 0;
		}
		.line {
			width: 90px;
			height: 0px;
			border: 1px solid $primary-blue;
		}
		.all-content {
			display: flex;
			flex-direction: column;
			table {
				thead {
					font-family: $bebas;
					font-weight: bold;
					font-size: 16px;
					letter-spacing: 0.5px;
					color: rgba($blackColor, 0.67)
				}
				tbody {
					tr {
						td:nth-child(1) {
							font-family: $fira;
							font-weight: normal;
							font-size: 14px;
							letter-spacing: -0.5px;
							color: $blackColor;
						}
						td:nth-child(2) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 18px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(3) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(4) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $primary-blue;
						}
					}
					
				}
			}
			.plainIcon {
				position: relative;
				right: -30px;
			}
		}

		.sold-content {
			display: flex;
			flex-direction: column;
		}

		.forsale-content {
			
		}
		
	}
}