@import "fonts";
@import "vars";

#adminUsers {
    h1 {
        span {
            font-family: $bebas;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 1.85px;
            color: $primary-blue;
        }
    }
	.container {
        padding: 51px 0 164px 0;
    }
    #custom-search-input{
        position: static;
        width: 260px;
        border: solid 2px $greyStroke;
        border-radius: 4px;
        background-color: $white;
        
        input{
            border: 0;
            box-shadow: none;
        }
        button{
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            padding: 0 8px 0 10px;
            border-radius: 0;
            border-left: solid 2px $greyStroke;
        }
        button:hover{
            border: 0;
            box-shadow: none;
            border-left: solid 2px $primary-blue;
        }
        .input-group {
            padding: 0px;
        }
        .material-icons {
            font-size: 26px;
            color: $primary-blue;
            vertical-align: middle;
        }
    }

    .adminUsers-content {
        display: flex;
        flex-direction: column;
        table {
            thead {
                font-family: $bebas;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.5px;
                color: rgba($blackColor, 0.67)
            }
            tbody {
                tr {
                    td:nth-child(1) {
                        font-family: $fira;
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: -0.5px;
                        color: $blackColor;
                    }
                    td:nth-child(2) {
                        font-family: $bebas;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 100%;
                        color: $blackColor;
                    }
                    td:nth-child(3) {
                        font-family: $bebas;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 100%;
                        color: $blackColor;
                    }
                    td:nth-child(4) {
                        font-family: $bebas;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 100%;
                        color: $primary-blue;
                    }
                }
                
            }
        }

        .compCircle {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: $primary-blue;
            position: relative;
            right: 7px;
        }
        .plainIcon {
            position: relative;
            right: -30px;
        }
    }

}