@import "fonts";
@import "vars";

#adminMetrics {
    h1 {
        span {
            font-family: $bebas;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 1.85px;
            color: $primary-blue;
        }
    }
	.container {
        padding: 51px 0 164px 0;
	}
    
    .adminMetrics-content {
        display: flex;
        flex-direction: column;
        table {
            thead {
                font-family: $bebas;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.5px;
                color: rgba($blackColor, 0.67)
            }
            tbody {
                tr {
                    td:nth-child(1) {
                        font-family: $fira;
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: -0.5px;
                        color: $blackColor;
                    }
                    td:nth-child(2) {
                        font-family: $bebas;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 100%;
                        color: $blackColor;
                    }
                }
                
            }
        }

        .compCircle {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: $primary-blue;
            position: relative;
            right: 7px;
        }
        .plainIcon {
            position: relative;
            right: -30px;
        }
    }

}