@import "fonts";
@import "vars";

#dashboard-banner {
	height: 200px;
	background: url("../img/dash_hero.png") no-repeat center center;
	background-size: cover;

	.container {
		height: 210px;
		width: 100%;
		text-align: center;
		padding-top: 93px;

		/* john watson */
		h1 {
			line-height: normal;
			font-size: 32px;
			text-align: center;
			letter-spacing: 1.84615px;
			font-weight: bold;

			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.248839);
		}

		p {
			font-family: $fira;
			font-size: 18px;
			color: $white;
		}

	}
}

#dashboard-tabs {

	.nav-tabs {
		border-bottom: 3px solid #D8D8D8;

		.nav-item {
			margin-bottom: 0px;
			font-family: $fira;
			font-weight: 500;
			text-transform: normal;

			a {
				color: $blackColor;

				&.active {
					color: #34C6D8;
					transition: 0.2s all;

					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 3px;
						background-color: #34C6D8;
						transform: translateY(10px);
						transition: 0.2s all;
					}
				}
			}

			.nav-link {
				border: none;

				&.active {
					// height: 3px;
					// border-bottom: 3px solid #34C6D8;
					// border-color: #34C6D8;
				}
			}
		}
	}

	.tab-content {
		padding: 50px 0px 105px 0px;
		h1 {
			font-family: $bebas;
			font-weight: bold;
			font-size: 32px;
			color: $primary-blue;
			text-align: center;
			margin-bottom: 0;
		}
		.line {
			width: 90px;
			height: 0px;
			border: 1px solid $primary-blue;
		}
		.purchases-content {
			display: flex;
			flex-direction: column;
			table {
				thead {
					font-family: $bebas;
					font-weight: bold;
					font-size: 16px;
					letter-spacing: 0.5px;
					color: rgba($blackColor, 0.67)
				}
				tbody {
					tr {
						td:nth-child(2) {
							font-family: $fira;
							font-weight: normal;
							font-size: 14px;
							letter-spacing: -0.5px;
							color: $blackColor;
						}
						td:nth-child(3) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 18px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(4) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(5) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $primary-blue;
						}
						th {
							font-family: $fira;
							font-weight: normal;
							font-size: 12px;
							letter-spacing: -0.5px;
							line-height: 14px;
							color: rgba($blackColor, 0.67);
						}
					}
					
				}
			}

			.compCircle {
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background-color: $primary-blue;
				position: relative;
				right: 7px;
			}
			.plainIcon {
				position: relative;
				right: -30px;
			}
			
		}
		.sales-content {
			display: flex;
			flex-direction: column;
			table {
				thead {
					font-family: $bebas;
					font-weight: bold;
					font-size: 16px;
					letter-spacing: 0.5px;
					color: rgba($blackColor, 0.67)
				}
				tbody {
					tr {
						td:nth-child(2) {
							font-family: $fira;
							font-weight: normal;
							font-size: 14px;
							letter-spacing: -0.5px;
							color: $blackColor;
						}
						td:nth-child(3) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 18px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(4) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $blackColor;
						}
						td:nth-child(5) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 15px;
							line-height: 100%;
							color: $primary-blue;
						}
						th {
							font-family: $fira;
							font-weight: normal;
							font-size: 12px;
							letter-spacing: -0.5px;
							line-height: 14px;
							color: rgba($blackColor, 0.67);
						}
					}
					
				}
			}

			.compCircle {
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background-color: $primary-blue;
				position: relative;
				right: 7px;
			}
			.pencilIcon {
				position: relative;
				right: -30px;
			}
		}

		.alerts-content {
			display: flex;
			flex-direction: column;
			table {
				thead {
					font-family: $bebas;
					font-weight: bold;
					font-size: 16px;
					letter-spacing: 0.5px;
					color: rgba($blackColor, 0.67)
				}
				tbody {
					tr {
						
						td:nth-child(1) {
							font-family: $fira;
							font-weight: normal;
							font-size: 14px;
							line-height: 14px;
							letter-spacing: -0.5px;
							color: $blackColor;
							vertical-align: middle;	
						}
						td:nth-child(2) {
							font-family: $bebas;
							font-weight: bold;
							font-size: 18px;
							line-height: 100%;
							color: $blackColor;
							vertical-align: middle;
						}
						td:nth-child(3) {
							font-family: $fira;
							font-weight: bold;
							font-size: 14px;
							line-height: 19px;
							letter-spacing: 2.36px;
							color: $blackColor;
							vertical-align: middle;
						}
						i {
							color: $active-color;
							position: relative;
							left: 50px;
						}
						.switch {
							label {
								margin-bottom: 0;
							}
						}
							
					}	
				}
			}
		}

		.profile-content {
			p {
				font-family: $fira;
				font-size: 16px;
				line-height: 26px;
			}
			span {
				font-family: $bebas;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: 0.88px;
				color: rgba($blackColor, 0.65);
			}
			input {
				font-family: $fira;
				text-align: left;
				font-size: 16px;
				font-weight: normal;
				color: rgba($blackColor, 0.5);
				letter-spacing: -0.33px;
				margin: 8px 0px 15px 0px;
			}
			.form-control:focus {
				border-color: $primary-blue;
				box-shadow: inset 0 1px 1px rgba($primary-blue, 0.075), 0 0 1px rgba($primary-blue, 0.6);
			  }
		
			.custom-control-label {
				font-family: $fira;
				font-size: 14px;
			}
			.custom-control-label::before {
				background-color: $white;
				border:1px solid $greyColor; 
			}
			.updateBtn {
				button {
					min-width: 295px;
					background-color: $active-color;
					border: 0px;
					padding: 7px;
		
					h1 {
						color: $white;
						font-size: 20px;
						margin: 5px 0px 5px 0px;
					}
				}
				
			}
			
		}
		
	}
}