@import "fonts";
@import "vars";

#faq-help {
	height: 205px;
	background-color: $primary-blue;
	background-size: cover;

	.container {
		height: 205px;
		width: 100%;
		text-align: center;
		padding-top: 110px;
		h1 {
            font-family: $bebas;
			line-height: normal;
            font-size: 32px;
            color: $white;
			text-align: center;
			letter-spacing: 1.75px;
			font-weight: bold;
		}

		p {
			font-family: $fira;
			font-size: 18px;
			color: $white;
        }
        #custom-search-input{
            position: static;
            width: 335px;
            border: solid 2px $greyStroke;
            border-radius: 4px;
            background-color: $white;
            
            input{
                border: 0;
                box-shadow: none;
            }
            button{
                margin: 2px 0 0 0;
                background: none;
                box-shadow: none;
                border: 0;
                padding: 0 8px 0 10px;
                border-radius: 0;
                border-left: solid 2px $greyStroke;
            }
            button:hover{
                border: 0;
                box-shadow: none;
                border-left: solid 2px $primary-blue;
            }
            .input-group {
                padding: 0px;
            }
            .material-icons {
                font-size: 26px;
                color: $primary-blue;
                vertical-align: middle;
            }
        }
	}
}

#faq {
    padding: 106px 0 100px 0 !important;
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        letter-spacing: 1.75px;
        margin-bottom: 0;
    }
    p {
        font-family: $fira;
        font-size: 18px;
    }
    .list-group-item {
        font-family: $fira;
        font-size: 20px;
        color: $blackColor;
    }
    .line{
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
    }
    .desc {
        padding-top: 30px;
    }
    .title {
        text-align: left;
        
        h1 {
            font-family: $fira;
            font-weight: bold;
            font-size: 22px;
            color: $primary-blue;
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 12px;
        }
    }
    .vl {
        border-left: 4px solid $primary-blue;
        height: 26px;
        position: absolute;
        left: 2%;
    }
    .contactus {
        border-color: $primary-blue;
        .btn {
            text-align: center;
    
            button {
                min-width: 145px;
                background-color: $active-color;
                border: 0px;
                padding: 7px;
    
                h1 {
                    color: $white;
                    font-size: 20px;
                    margin: 5px 0px 5px 0px;
                }
            }
        }
        p {
            font-family: $fira;
            font-size: 13px;
            line-height: 18px;
            color: rgba($blackColor, 0.7)
        }
    }
    #accordion {
        .card {
            border: none !important;
        }
        
        h1 {
            font-size: 20px;
            color: $blackColor;
        }
        i {
            color: $primary-blue;
        }
        .card-header {
            padding: .5rem 1.25rem;
            background: none;
            .btn-link {
                text-decoration: none;
            }
            
        }
        .card-body {
            font-family: $fira;
            font-size: 16px;
            line-height: 26px;
            color: $blackColor;
        }
    }
    [data-toggle="collapse"] .material-icons:before {   
        content: "remove_circle";
      }
      
      [data-toggle="collapse"].collapsed .material-icons:before {
        content: "add_circle";
      }
}

