@import "fonts";
@import "vars";

#logIn{
	.logDiv	{
		position: absolute;
		text-align: center;
		margin: 0 auto;
		z-index: 1;
		left: 0;
		right: 0;
		top: 100px;
		
	}
	margin-top:60px;
	.line {
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
    }
    h1{
  		font-size: 32px;
  		font-family: $bebas;
  		color:$primary-blue;
  		font-weight: 600;
    }
    .enterByMail{
    	padding: 100px;
    	.loginBtn{
			margin-top: 53px;
			span {
				font-family: $bebas;
				font-weight: bold;
				font-size: 20px;
				color: $white;
				letter-spacing: 1.15px;
			}
    	}
    	img{
    		width: 20px; 	
    	}
    	input[type="text"]{
    		margin:10px 0;
    		border:none;
    		color:$blackColor;
    		font-family: $fira;
    		font-size:16px;
    		font-weight: 400;
    	}
        input[type="password"]{
            margin:10px 0;
            border:none;
            color:$blackColor;
            font-family: $fira;
            font-size:16px;
            font-weight: 400;
        }
    	input[type="text"]:focus{
		    outline: none;
    		box-shadow: none;
    	}
        input[type="password"]:focus{
            outline: none;
            box-shadow: none;
        }
    	div{
    		text-align: center;
    	}
    	.bord-bot-div{
    		border-bottom:2px solid $primary-blue;
    	}

    }
    .entryBySocial{
    	padding: 100px;
    	background-color: $lightGray;
    	button{
    		margin:10px 0;
    	}
    	.facebookBtn{
    		background-color: white;
    		border:2px solid $darkBlue;
    		color:$darkBlue;
    		font-size: 20px;
    		font-family: $bebas;
    		img{
    			margin-top: -2px;
    		}
    	}
    	.googleBtn{
    		background-color: $white;
    		border:2px solid $active-color;
    		color:$active-color;
    		font-size: 20px;
    		font-family: $bebas;
    		img{
    			margin-top: -2px;
    		}
    	}
    	.notAccDiv{
    		margin-top: 80px;
    		span{
				font-family: $bebas;
				font-size: 16px;
				color: $blackColor;
				letter-spacing: 0.92px;
    		}
    		.signUpBtn{
    			background-color: $white;
	    		border:2px solid $primary-blue;
	    		color: $primary-blue;
	    		
				span {
					font-family: $bebas;
					font-weight: bold;
					font-size: 20px;
					color: $primary-blue;
					letter-spacing: 1.15px;
				}
    		}
    	}
    }
}