@import "fonts";
@import "vars";


#purchaseSummary{
	margin:60px 0;
	padding: 40px 0 20px 0 !important;

	.purchTxt{
		text-align: center;
		.tittlePurch{
			font-size: 32px;
			font-family: $bebas;
			font-weight: 600;
			color: $primary-blue;
		}
		.thnxBox{
			width: 50%;
			font-size: 16px;
			font-family: $fira;
			color: rgba($blackColor, 0.67);
		}
	}
	.priceBox{
		text-align: center;
        padding: 20px;
        .row{
        	min-width: 185px;
        }
        div{
        	margin: 0;
        }
        span{
            font-family: $bebas;
            font-weight: 600;
            font-size:13px;
            color: rgba($blackColor, 0.67);
        }
        .mainPrice{
            span{
                font-size:22px;
                
                color:$priceGreen;            
            }
        }
        .priceDel{
            span{
                font-size:16px;
                color:$blackColor;
                text-decoration: line-through;
            }  
        }
        .priceChange{
            span{
                font-size: 16px;
                color:$active-color;
            }
        }
    }
    .ticketEx{
    	padding: 20px 0;
    	border-top: 2px solid $greyStroke;
    }
    
    
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        margin-bottom: 0;
    }
    .line {
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
    }
    .card {
    	padding: 0;
        min-width: 335px;

        &:nth-child(2n-1) {
            margin-right: 28px;
        }
        .card-header {
            background-color: $white;
            padding: 0.15rem 1.25rem;
            img {
                margin-right: 8px;
            }
            span {
                font-family: $bebas;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.92px;
                color: $blackColor;
                margin-right: 8px;
                vertical-align: middle;
            }
            p {
                font-family: $bebas;
                font-weight: bold;
                font-size: 14px;
                color: rgba($blackColor, $alpha: 0.5);
                margin-bottom: 0px;
                vertical-align: middle; 
                
            }
            .greenH1{
                color:$priceGreen;
            }
        }
        .card-body {
            .inputBox{
                div{
                    margin: 10px 0;
                }
            }
            background-color: $lightGray;
            small {
                font-family: $bebas;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .tctNum{
                font-size:12px;
                color:$primary-blue;
            }
            .sellingRadio:checked~.custom-control-label{
                font-weight: 600;
            }
            .sellingRadio:checked~.custom-control-label::after{
                background-color: $priceGreen;
                border-radius:50%;
                background-image:none;

            }
        }
    }
    .btn {
        text-align: center;

        button {
            min-width: 295px;
            background-color: $active-color;
            border: 0px;
            padding: 7px;

            h1 {
                color: $white;
                font-size: 20px;
                margin: 5px 0px 5px 0px;
            }
        }
    }
    .finalSelling{
		padding:60px 0 20px 0;
		text-align: center;
		.shareTxt{
			text-align:center;
			font-family:$bebas;
			font-weight: 600;
			font-size:32px;
			color:$blackColor;
		}
		.thnxTxt{
			font-family: $bebas;
			font-size: 32px;
			color:$blackColor;
		}
		div{
			margin:10px 0;
		}
		.finaltext{
			font-size: 16px;
			color:$blackColor;
			width:35%;
		} 		
		.btnSellingBox{
			margin-top:20px;
			width:650px;
			.redBtn{
				color:$white;
			}
			.whiteBtn{
				color:$primary-blue;
				background-color: $white;
				border:1px solid $primary-blue;
			}
		}
	
	}
}







