@import "fonts";
@import "vars";


#underheader {
    margin-top:60px;
    height: 90px;

    div{
        background-color: $blackBckgr;
        div{
            div{
                ul{
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        float: none;
                        margin:5px;
                        width: 210px;
                        span{
                            font-family: $bebas;
                            font-weight: bold;
                            font-size: 12px;
                            color:$white;
                        }
                        div{
                            display: flex;
                            text-align: center;
                            padding: 0;
                            background-color: $white;
                            input{
                                font-family: $fira;
                                font-color:$blackBckgr;
                                font-size: 16px;
                                width: 165px;
                                border:none;
                            }
                            .placeholder{
                                margin: 5px;
                               span{
                                    color:$greyColor;
                                    padding-left: 3px;
                                    font-size: 12px;
                                } 
                            }
                            
                        }   
                    }
                }
            }
        }
    }
}
#mainContent{
    display: flex;
    #tickets{
        margin: 10px 20px;
        width: 769px;
        nav {
            display: flex;
            justify-content:flex-end;
            padding: 0;
            background-color: transparent;
            &.active {
                background-color: transparent !important;
            }
            ul{
                width:295px;
                li{
                    font-family: $bebas;
                    font-weight: bold;
                    font-size: 15px;
                    letter-spacing: 0.54;
                    cursor: pointer;
                    margin: 5px;
                    width: 100px;
                    
                    text-align: center;
                }
                .activeLi{
                    background-color: $primary-blue;
                    color:white;
                }
            }
        }
        #list{

            font-family: $bebas;
            font-weight: bold;
            flex-direction:column;
            li{
                border: 2px solid #E2E2E2;
                margin:5px 0;
                #priceDiv{
                    border-right: 2px solid #E2E2E2;
                    display: flex;
                    justify-content: center;
                    width: 200px;
                    height: 240px;
                    flex-direction: column;
                    text-align: center;
                    vertical-align: middle;
                    padding: 20px;

                    #mainPrice{
                        margin-top:8px;
                        font-size: 22px;
                        font-family: $bebas;
                        font-weight: bold;
                        color:$priceGreen;
                    }

                    #selectTicket{
                        cursor: pointer;
                        width: 140px;
                        border-radius: 100px;
                        margin: 0 auto;
                        padding: 5px 40px;
                        font-size: 14px;
                        color:white;
                        font-family: $bebas;
                        font-weight: bold;
                        background-color: $active-color;
                        img{
                            padding-left: 2px;
                        }
                    }
                    #priceDiscount{
                        display: block;
                        div{
                            margin: 5px;
                            display: inline-block;
                            font-family: $bebas;
                            font-weight: bold;
                            font-size: 13px;
                            color:$greyColor;
                            span{
                                display: block;
                            }
                            .priceDel{
                                font-size: 16px;
                                color:$blackColor;
                                text-decoration: line-through;
                            }
                            .priceChange{
                                font-size: 16px;
                                color:$active-color;
                            }
                        }
                    }
                }
                #plainSlider{
                    #box{
                        padding: 0px 25px;
                        width:450px;
                        div{ 
                            padding: 5px 0;
                            margin: 2px;
                            display: flex;
                            flex-direction:row; 
                            div{
                                display: flex;
                                flex-direction: column;
                                
                                span{
                                    display: block;
                                    font-family: $fira;
                                    font-size: 12px;
                                    color: rgba($blackColor, 0.67);
                                }
                                .timeSl{
                                    color:$blackColor;
                                    font-size: 22px;
                                }
                            } 
                        }
                        #borderDoted{
                            border-bottom:2px dotted rgba($blackColor, 0.67);

                        }        
                    }
                        
                }
            }
        }
    }
    #accrd{
        margin:30px;
        #accordion{
            .card{
                .card-header{
                    border:none;
                    background-color: white;
                    cursor: pointer;
                    .cardBox{
                        .closePng{
                            float:right;
                        }
                        .card-link{
                            font-family: $bebas;
                            font-size: 16px;
                            font-weight: bold;
                            color:$blackColor;
                        }
                    }
                }
                .collapse{
                    .card-body{
                        font-family: $fira;
                        font-size: 12px;
                        font-weight: 100;
                        color: rgba($blackColor, 0.67);
                    }
                    .blackTxt{
                        color:$blackColor;
                    }
                }
            }
        }
    }
}


#myModal{
    margin-top: 100px;
}
#modal-body{
    margin:0 auto;
    width:65%
}

#modal-content{
    background-color: white;
    font-family: $fira;
    font-size: 22px;
    color:#333333;
}
#modal-footer{
    border-top:none;
    display: flex;
    justify-content: center;
}
#modal-header{
    border-bottom:none;
}
#buttonModal{
    background-color: $active-color;
    width:295px;
    height: 50px;
    color:$white;
}







footer {
    .prefooter {
        background-color: #34C6D8;
        padding-top: 26px !important;
        padding-bottom: 14px !important;

        h1 {
            font-family: $bebas;
            text-align: left;
            font-size: 28px;
            font-weight: bold;
            color: $white;
            margin-bottom: 18px;
        }

        p {
            font-family: $fira;
            text-align: center;
            font-size: 13px;
            font-weight: normal;
            color: $white;
        }
        button {
            background-color: $active-color;
            // font-size: dfsdf 
            h1 {
                font-size: 24px;
                margin: 0;
            }
        }
        input {
            font-family: $fira;
            text-align: left;
            font-size: 16px;
            font-weight: normal;
            color: #333333;
            letter-spacing: -0.33px;
        }

        .email {
            padding-left: 47px;
            padding-right: 0px;
        }

        .align-self-end {
            padding: 2px 25px;
            line-height: 20px;
        }
    }

    .footer {

        background-color: #208996;
        .row1 {
            color: $white;
            font-family: $fira;
            font-size: 14px;
            p {
                text-align: left;
                line-height: 24px;
                opacity: 0.7;
            }
            a {
                color: $white;
                text-align: right;
                line-height: 32px;
                padding: 0px;
            }
        }
        .row2 {
            .social-icon {
                padding: 0px !important;
            }
            
            h3 {
                font-family: $bebas;
                font-size: 15px;
                text-align: right;
                color: $white;
                line-height: 15px;
                opacity: 0.7;
                padding: 0;
            }
            a {
                font-family: $fira;
                font-size: 13px;
                text-align: right;
                color: $white;
                line-height: 28px;
            }
            .ver-line {
                border: 1px solid $white;
                margin: 0px 5px;
            }
            ul {
                
                list-style: none;
                display: flex;
                padding: 0;
                margin-bottom: 0.5rem;
                li {
                    padding: 0;
                    margin-left: 20px;
                }
            } 
            // .socials {
            //     display: flex;
            //     padding: 0px;
            // }
        }
    }
}