@import "fonts";
@import "vars";

#sellingSecond{
	padding: 110px 0 90px 0 !important;
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        margin-bottom: 0;
	}
	.line {
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
	}
	.card {
		border-top:2px solid $primary-blue;
		min-width: 335px;

		// &:nth-child(2n-1) {
		// 	margin-right: 28px;
		// }
		.card-header {
			background-color: $white;
			padding: 0.15rem 1.25rem;
			img {
				margin-right: 8px;
			}
			span {
				font-family: $bebas;
				font-weight: bold;
				font-size: 16px;
				letter-spacing: 0.92px;
				color: $blackColor;
				margin-right: 8px;
				vertical-align: middle;
			}
			p {
				font-family: $bebas;
				font-weight: bold;
				font-size: 14px;
				color: rgba($blackColor, $alpha: 0.5);
				margin-bottom: 0px;
				vertical-align: middle; 
				
			}
			.greenH1{
				color:$priceGreen;
			}
		}
		.card-body {
			background-color: $lightGray;
			small {
				font-family: $bebas;
				font-size: 14px;
				line-height: 13px;
				text-transform: uppercase;
				font-weight: 600;
			}
			.tctNum{
				font-size:12px;
				color:$primary-blue;
			}
			.sellingRadio:checked~.custom-control-label{
				font-weight: 600;
			}
			.sellingRadio:checked~.custom-control-label::after{
				background-color: $priceGreen;
				border-radius:50%;
				background-image:none;

			}
		}
	}
	.btn {
        text-align: center;

        button {
            min-width: 295px;
            background-color: $active-color;
            border: 0px;
            padding: 7px;

            h1 {
                color: $white;
                font-size: 20px;
                margin: 5px 0px 5px 0px;
            }
        }
	}
	#setPrice {
		padding: 140px 0px 33px 0px;
	}

}
.sellingModal {
	.modal-dialog {
		.modal-content {
			#modal-header {
				.back{
					padding: 0;
				    background-color: white;
				    border: none;
				}
			}
			.m-b-60{
				width:60%;
				span{
					margin:10px;
				}

				.amountTickInput{
					width:70%;
				}
			}
			.modal-body{
				text-align: center;
				span{
					font-size: 18px;
				}
				.modalTitle{
					font-size:22px;
					font-weight: 600;
				}
			}
		}
	}
}
#discountModal{
	.modal-body{
		text-align: center;
		span{
			font-size:13px;
			font-family: $fira;
		}	
	}	
}


#fixedPrice2Modal{
	.modal-body{
		width:90%;
	}
}

#discountModal{
	.modal-body{
		text-align: center;
		span{
			font-size: 18px;
		}
		.modalTitle{
			font-size:22px;
			font-weight: 600;
		}
	}
}