@import "fonts";
@import "vars";

#selling {
	padding: 150px 0 96px 0 !important;
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        margin-bottom: 0;
	}

    p {
        font-family: $fira;
        font-size: 16px;
        line-height: 26px;
	}
	span {
		font-family: $bebas;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.88px;
		color: rgba($blackColor, 0.65);
	}
	input {
		font-family: $fira;
		text-align: left;
		font-size: 16px;
		font-weight: normal;
		color: rgba($blackColor, 0.5);
		letter-spacing: -0.33px;
		margin: 8px 0px 15px 0px;
	}
    .line {
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
	}
	.card {
		min-width: 335px !important;
		// &:nth-child(2n-1) {
		// 	margin-right: 28px;
		// }
		.card-body {
			background-color: $lightGray;
		}
	}
	.form-control:focus {
		border-color: $primary-blue;
		box-shadow: inset 0 1px 1px rgba($primary-blue, 0.075), 0 0 1px rgba($primary-blue, 0.6);
	  }

	.custom-control-label {
		font-family: $fira;
        font-size: 14px;
	}
	.custom-control-label::before {
		background-color: $white;
		border:1px solid $greyColor; 
	}
	.custom-radio {
		label {
			color: $blackColor;
		}
		.custom-control-input:checked~.custom-control-label{
			font-weight: 600;
		}
		.custom-control-input:checked~.custom-control-label::after{
			background-color: $active-color;
			border-radius:50%;
			background-image:none;

		}
	}
	.btn {
        text-align: center;

        button {
            min-width: 295px;
            background-color: $active-color;
            border: 0px;
            padding: 7px;

            h1 {
                color: $white;
                font-size: 20px;
                margin: 5px 0px 5px 0px;
            }
        }
	}
	.recInfo {
		span {
			font-family: $fira;
			font-size: 12px;
			font-weight: normal;
			letter-spacing: -0.6px;
			line-height: 13px;
			color: $primary-blue;

		}
		
	}
}
#myModalRecordLocator{
	.modal-body{
		.modalTitle{
			font-size:22px;
			font-weight: 600;
		}
		
		span{
			font-size:14px;
			line-height: 1;
		}
	}
}