@import "fonts";
@import "vars";



#SellingEnd{
	margin-top: 60px;
	.finalSelling{
		padding:100px;
		text-align: center;
		.shareTxt{
			text-align:center;
			font-family:$bebas;
			font-weight: 600;
			font-size:32px;
			color:$blackColor;
		}
		.thnxTxt{
			font-family: $bebas;
			font-size: 32px;
			color:$blackColor;
		}
		div{
			margin:20px 0;
		}
		.finaltext{
			font-size: 16px;
			color:$blackColor;
			width:35%;
		} 		
		.btnSellingBox{
			margin-top:20px;
			width:700px;
			.redBtn{
				color:$white;
			}
			.whiteBtn{
				color:$primary-blue;
				background-color: $white;
				border:1px solid $primary-blue;
			}
		}
	
	}
}
