@import "fonts";
@import "vars";

#terms {
    padding: 55px 0 75px 0 !important;
    h1 {
        font-family: $bebas;
        font-weight: bold;
        font-size: 32px;
        color: $primary-blue;
        text-align: center;
        margin-bottom: 0;
    }
    p {
        font-family: $fira;
        font-size: 16px;
        line-height: 26px;
    }
    .line{
        width: 60px;
        height: 0px;
        border: 1px solid $primary-blue;
    }
    .desc {
        padding-top: 30px;
    }
    .title {
        text-align: left;
        
        h1 {
            font-family: $fira;
            font-weight: bold;
            font-size: 22px;
            color: $primary-blue;
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 12px;
        }
    }
}

#terms-banner {
    padding-top: 60px;
	height: 260px;
	background: url("../img/termsBanner.png") no-repeat center center;
	background-size: cover;

	.container {
		// height: 260px;
		// width: 100%;
		// text-align: center;
		padding-top: 82px;

		/* john watson */
		h1 {
            font-family: $bebas;
            font-weight: bold;
			line-height: normal;
			font-size: 32px;
            text-align: left;
            color: $white;
			letter-spacing: 1.84615px;
			
		}
	}
}